CREATE DATABASE <%= @postgis.template %>;

GRANT CONNECT
   ON DATABASE <%= @postgis.template %>
   TO public;

REVOKE TEMPORARY
    ON DATABASE <%= @postgis.template %>
  FROM public;

\c <%= @postgis.template %>

CREATE LANGUAGE plpgsql;

CREATE SCHEMA <%= @postgis.schema %>;

GRANT USAGE
   ON SCHEMA <%= @postgis.schema %>
   TO public;

SET search_path = <%= @postgis.schema %>;

\i /usr/share/postgresql/<%= @version %>/contrib/postgis-1.5/postgis.sql
\i /usr/share/postgresql/<%= @version %>/contrib/postgis-1.5/spatial_ref_sys.sql
\i /usr/share/postgresql/<%= @version %>/contrib/postgis_comments.sql

GRANT ALL
   ON geography_columns, geometry_columns, spatial_ref_sys
   TO public;

ALTER DATABASE <%= @postgis.template %>
           SET search_path = "$user", public, <%= @postgis.schema %>;

UPDATE pg_catalog.pg_database
   SET datallowconn  = false,
       datistemplate = true
 WHERE datname = '<%= @postgis.template %>';
